:root {
    --volume-level: 50%;
}

body {
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #000;
    width: 340px;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /* 16px */
    overflow: auto;
    padding: 0 1.5rem;
    margin-top: 0.5rem;
}

.main-content::-webkit-scrollbar {
  width: 10px;
}

.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}
  
.main-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}
  
.main-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.music-player {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0 0.5rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.nav-option a {
    font-size: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    margin: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lib-option img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
    cursor: pointer;
}

.box {
    margin: 0.5rem 0 1.25rem 0;
    padding: 0.5rem 1.25rem;
    background-color: #232323;
    border-radius: 0.75rem;
}

.box-p1 {
    font-weight: 500;
    line-height: 1rem;
}

.box-p2 {
    font-size: 0.75rem;
    line-height: 1rem;
    opacity: 0.9;
}

.badge {
    font-weight: 700;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    background-color: #121212;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    z-index: 10;
}

.sticky-nav-icons img {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.6;
}

.footer {
    height: 250px;
    display: flex;
    justify-content: center;
}

.line {
    width: 99%;
    height: 20%;
    border-bottom: solid 1px #fff;
    opacity: 0.4;
}

.music-player {
    display: flex;
}

.album {
    width: 25%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.album img {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1rem;
    border-radius: 0.25rem;
}

.album div p {
    margin: 0 1rem 0 0;
}

.album div p:first-child {
    font-size: 0.85rem;
    font-weight: 600;
}

.album div p:first-child:hover {
    cursor: pointer;
}

.album div p:last-child {
    font-size: 0.75rem;
    opacity: 0.7;
}

.album i {
    font-size: 0.75rem;
    padding: 0.20rem 0.25rem;
    border: solid 2px #fff;
    border-radius: 50%;
    opacity: 0.7;
}

.album i:hover {
    opacity: 1;
    cursor: pointer;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icon {
    width: 1rem;
    height: 1rem;
    margin: 1.25rem;
    opacity: 0.7;
}

.player-icon:hover {
    opacity: 1;
}

.play {
    width: 2rem;
    height: 2rem;
    opacity: 1;
}

.playback-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.playback-bar input[type="range"] {
    width: 60%;
    appearance: none;
    background: transparent; /* Prevent default background */
    cursor: pointer;
}

.playback-bar input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #1bd760 var(--completed-portion, 0%), #ddd var(--completed-portion, 0%));
    border-radius: 1rem;
    height: 0.2rem;
}

.playback-bar input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -0.25rem; /* Align the thumb */
    position: relative; /* Ensure thumb is above track */
    z-index: 1; /* Bring thumb to the front */
}

.controls {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
}

.controls > * {
    margin-right: 1rem;
    opacity: 0.8;
}

.controls > *:hover {
    opacity: 1;
    cursor: pointer;
}

.controls input[type="range"] {
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.controls input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #1bd760 var(--volume-level, 0%), #ddd var(--volume-level, 0%));
    border-radius: 1rem;
    height: 0.2rem;
}

.controls input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -0.25rem;
}

@media screen and (max-width: 1000px) {
    .forward, .light-badge {
        display: none;
    }
}